// Structure.scss
// Scaffolding and flex styles for basic structure of page


#outer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    header#main{
        display: flex;
        height: 54px;
        min-height: 54px;
        width: 100%;
        background-color: $black;
    }

    // Body wrapper
    //  Includes sidebar and main content
    #body{
        display: flex;
        flex-grow: 3;


        #sidebar{
            display: block;
            width: 280px;
            background-color: $white;
            border-right: 1px solid $borderColor;
            box-sizing: border-box;
            padding: 15px;
            overflow: auto;
        }

        main{
            display: block;
            flex-grow: 3;
            overflow: auto;
        }
    }
}



// Spcific to this project
#map{
    display: block;
    width: 100%;
    height: 300px;
    background-color: fade-out($black, 0.8);
}

.block{
    display: block;
    box-sizing: border-box;
    padding: 15px;
}