<div id="dataView" [ngClass]="{'data-blur': dataLoading == true }">
        
    <dataloader-div id="dataLoader"></dataloader-div>


    <div class="site-meta">
        <h1>Data</h1>
        <h3 *ngIf="showSiteData == true && noData == false">Site name: {{selectedSite}}</h3>
    </div>

    <div [class.hidden]="showSiteData == true" class="chart-wrapper">
        <div class="chart" id="typeChart"></div>
        <div class="chart" id="orgChart"></div>
    </div>


    <div [class.hidden]="showSiteData == false || noData == true" class="chart-wrapper">
        <div class="chart" [class.hidden]="unitCodes.length == 1" id="siteChart2"></div>
        <div class="chart" id="siteChart"></div>
    </div>


    <div [class.hidden]="showSiteData == false || noData == true">
        <div style="text-align: center;"><i class="fa fa-mouse-pointer"></i>Drag a box around points on the graph to zoom in</div>
        <button (click)="downloadFile()">Download Results File</button>
        <table id="dataTable">
            <thead>
                <tr class="row header">
                    <th>Activity Start Date</th>
                    <th>Depth</th>
                    <th>Value</th>
                    <th>Hydrologic Event</th>
                    <th>Collection Method</th>
                    <th>Aquifer</th>
                    <th>Provider</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of resultJson" class="row">
                    <td>{{sample.ActivityStartDate}}</td>
                    <td>{{sample['ActivityBottomDepthHeightMeasure/MeasureValue']}}
                        {{sample['ActivityBottomDepthHeightMeasure/MeasureUnitCode']}}</td>
                    <td>{{sample.ResultMeasureValue}} {{sample['ResultMeasure/MeasureUnitCode']}}</td>
                    <td>{{sample.HydrologicEvent}}</td>
                    <td>{{sample['SampleCollectionMethod/MethodIdentifier']}}</td>
                    <td>{{sample.SampleAquifer}}</td>
                    <td>{{sample.ProviderName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div *ngIf="noData == true" id="noData">
        <h2>No data was returned</h2>
    </div>
</div>
