@import '../../variables.scss';

#noData{
    color: $red;
    font-size: 14px;
    display: block;
}

#noGraphData {
    text-align: center;
    color: $red;
}

#dataView{
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;

    &.data-blur{

        // Blur everything except the loader
        *:not(#dataLoader){
            filter: blur(3px);
        }
    }

    // Site meta
    // Name, id, etc
    .site-meta{
        display: block;
        box-sizing: border-box;
        padding: 15px 25px;

        h1{
            font-size: 26px;
            font-weight: 600;
        }

        h3{
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.chart-wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 25px 10px 25px;

    .chart{
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}
#siteChart,
#siteChart2,
#modalChart,
#modalChart2,
#multSiteChart{
    display: block;
    width: 48%;
    height: 320px;
}

#dataTable{
    display: flex;
    flex-direction: column;
    border: 1px solid fade-out($black, 0.8);
    box-sizing: border-box;
    padding:  15px;
    border-radius: 10px;
    margin-bottom: 55px;

    tr{
        display: flex;
        width: 100%;

        &:nth-child(even){
            background-color: rgba(10,10,50,0.08);
        }

        td,th{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            line-height: 13px;
            color: $black;
            height: 40px;
            width: 10%;
            flex-grow: 3;
            box-sizing: border-box;
            padding: 0 10px;
            text-align: left;

            &:nth-child(1){
                font-weight: bolder;
            }
        }

        &.header{

            div{
                font-weight: bolder;
            }
        }
    }
} 

.hidden{
    display: none !important;
}

button{
    margin: 45px 5px 5px 0px;
}

i{
    padding: 5px;
}

#reportModal{
    min-width: 60% !important;
    min-height: 80%;
    max-height: max-content;
    .modal-content{
        max-height: max-content;
    }
    h4{
        margin: 10px 20px;
        font-weight: 500;
    }
    .chart{
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-wrapper .modal .modal-content{
    overflow-x: hidden;
    overflow-y: auto;
}

#modalTable {
    margin: 5px;
    margin-bottom: 0px;
}

@media print{
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;
    }
    .hidden-print {
        display: none !important;
    }
    .modal, .modal-wrapper{
        /**Remove scrollbar for printing.**/
        overflow: visible !important;
        /**Needs to be relative for printing in IE11**/
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding-right:20px;
        min-height:550px;
        visibility: visible;
    }
    .modal-dialog, .modal-content {
        width: 100%;
        padding: 0;
        margin:20px;
        visibility: visible !important;
        /**Remove scrollbar for printing.**/
        overflow: visible !important;
    }
    .modal-footer {
        border-top:0;
    }
    .leaflet-control-container{
        display: none!important;
    }

    .chart {
        overflow: unset;
        width: 100% !important;
    }

    #modalTable{
        page-break-inside: auto;
        width: 120%;
        border: none;
        tr, td, th{
            page-break-inside: avoid !important;
            page-break-after: auto;
        }
        th{
            font-weight: bold;
        }
    }

    .identifier {
        padding-bottom: 2em;
    }
}

@media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .modal {
        /**Needs to be relative for printing in IE11**/
        position: relative;
    }
}