@import '../../variables.scss';

#noData{
    color: $red;
    font-size: 14px;
    display: block;
}

#dataView{
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;

    &.data-blur{

        // Blur everything except the loader
        *:not(#dataLoader){
            filter: blur(3px);
        }
    }

    // Site meta
    // Name, id, etc
    .site-meta{
        display: block;
        box-sizing: border-box;
        padding: 15px 25px;

        h1{
            font-size: 26px;
            font-weight: 600;
        }

        h3{
            font-size: 18px;
            font-weight: 500;
        }
    }
}




.chart-wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 25px 10px 25px;

    .chart{
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}
#chart1,
#chart2{
    display: block;
    width: 48%;
    height: 320px;
}

#dataTable{
    display: flex;
    flex-direction: column;
    border: 1px solid fade-out($black, 0.8);
    box-sizing: border-box;
    padding:  15px;
    border-radius: 10px;
    margin-bottom: 45px;

    .row{
        display: flex;
        width: 100%;

        &:nth-child(even){
            background-color: rgba(10,10,50,0.08);
        }

        td,th{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            line-height: 13px;
            color: $black;
            height: 40px;
            width: 10%;
            flex-grow: 3;
            box-sizing: border-box;
            padding: 0 10px;
            text-align: left;

            &:nth-child(1){
                font-weight: bolder;
            }
        }

        &.header{

            div{
                font-weight: bolder;
            }
        }
    }
} 

.hidden{
    display: none !important;
}

button{
    margin: 45px 0px 5px 0px;
}

i{
    padding: 5px;
}