<div id="dataView">
    <dataloader-div></dataloader-div>
    <h1>Data</h1>
    <h3 *ngIf="showSiteData == true && noData == false">Site name: {{selectedSite}}</h3>

    <div [class.hidden]="showSiteData == true" id="chartWrapper">
        <div id="typeChart"></div>
        <div id="orgChart"></div>
    </div>
    <div [class.hidden]="showSiteData == false || noData == true" id="chartWrapper">
        <div [class.hidden]="unitCodes.length == 1"id="siteChart2"></div>
        <div id="siteChart"></div>
    </div>
    <div [class.hidden]="showSiteData == false || noData == true">
        <button (click)="downloadFile()">Download Results File</button>
        <table id="dataTable">
            <thead>
                <tr class="row header">
                    <th>Activity Start Date</th>
                    <th>Depth</th>
                    <th>Value</th>
                    <th>Hydrologic Event</th>
                    <th>Collection Method</th>
                    <th>Aquifer</th>
                    <th>Provider</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of resultJson" class="row">
                    <td>{{sample.ActivityStartDate}}</td>
                    <td>{{sample['ActivityBottomDepthHeightMeasure/MeasureValue']}}
                        {{sample['ActivityBottomDepthHeightMeasure/MeasureUnitCode']}}</td>
                    <td>{{sample.ResultMeasureValue}} {{sample['ResultMeasure/MeasureUnitCode']}}</td>
                    <td>{{sample.HydrologicEvent}}</td>
                    <td>{{sample['SampleCollectionMethod/MethodIdentifier']}}</td>
                    <td>{{sample.SampleAquifer}}</td>
                    <td>{{sample.ProviderName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div *ngIf="noData == true" id="noData">
        <h2>No data was returned</h2>
    </div>
</div>
