
<div class="block">
        <h1>Data</h1>
        <div id="fakeData">These data are shown for demonstration purposes only.</div>

        <div id="chartWrapper">
          <div id="siteChart"></div>
          <div id="chart2"></div>
        </div>

        <div id="dataTable">

                <div class="row header">
                    <div>Date</div>
                    <div>Site</div>
                    <div>State</div>
                    <div>Color</div>
                    <div>Distance</div>
                    <div>Size</div>
                    <div>Status</div>
                    <div>Amount</div>
                    <div>Notes</div>
                </div>
            
                <div class="row">
                    <div>10/11/18</div>
                    <div>12512</div>
                    <div>NY</div>
                    <div>Red</div>
                    <div>10mi</div>
                    <div>8</div>
                    <div>Off</div>
                    <div>9</div>
                    <div></div>
                </div>
            
                <div class="row">
                    <div>10/19/18</div>
                    <div>535235</div>
                    <div>NY</div>
                    <div>Black</div>
                    <div>1mi</div>
                    <div>81</div>
                    <div>On</div>
                    <div>5</div>
                    <div>End</div>
                </div>
            
                <div class="row">
                    <div>11/9/18</div>
                    <div>623532</div>
                    <div>NY</div>
                    <div>Black</div>
                    <div>2mi</div>
                    <div>1</div>
                    <div>On</div>
                    <div>0</div>
                    <div>None</div>
                </div>
            
                <div class="row">
                    <div>11/19/18</div>
                    <div>73453</div>
                    <div>NY</div>
                    <div>Purple</div>
                    <div>22mi</div>
                    <div>51</div>
                    <div>Off</div>
                    <div>10</div>
                    <div></div>
                </div>
            
                <div class="row">
                    <div>12/15/18</div>
                    <div>51214</div>
                    <div>NY</div>
                    <div>Black</div>
                    <div>2mi</div>
                    <div>61</div>
                    <div>Off</div>
                    <div>1</div>
                    <div></div>
                </div>
            
                <div class="row">
                    <div>12/25/18</div>
                    <div>61214</div>
                    <div>NY</div>
                    <div>Purple</div>
                    <div>3mi</div>
                    <div>66</div>
                    <div>Off</div>
                    <div>1</div>
                    <div></div>
                </div>
            
            </div>

</div>



