// Main SCSS file.
// Do not add anything directly to this file.
// Find the appropriate file within the /styles folder

@import 'variables.scss';

@import "~@ng-select/ng-select/themes/default.theme.css";



// SASS helpers/mixins
@import '/styles/helpers.scss';

// Universal Imports
@import '/styles/structure.scss';
@import '/styles/text.scss';
@import '/styles/modals.scss';
@import '/styles/inputs.scss';

@import '/styles/header.scss';

@import '/styles/custom/general.scss';
@import '/styles/custom/map.scss';


// Specific imports
.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
    .site {
        border-radius: 50%;
        opacity: 1;
        width: 8px;
        height: 8px;
        margin-top: 5px;
    }
    .facility {
        background: rgba(85, 94, 123, 1); //beb556
    }
    .atmosphere {
        background: rgba(183, 217, 104, 1); //ba9947
    }
    .lake {
        background: rgba(181, 118, 173, 1); //b67939
    }
    .stream {
        background: rgba(67, 118, 211, 1); //b2562b
    }
    .well {
        background: rgba(224, 70, 68, 1); //224, 70, 68, 1
    }
    .land {
        background: rgba(31, 119, 127, 1); //AE276d
    }
    .estuary {
        background: rgba(214, 8, 169, 1); //9B30Af
    }
    .wetland {
        background: rgba(190, 255, 130, 1); //#5239af
    }
    .ocean {
        background: rgba(198, 76, 65, 1); //4272b0
    }
}
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; }

/*TEMPORARY STYLING UNTIL WE GET THE LIQWIDS DASHBOARD INSERTED HERE*/
#dashboardTable{
    display: flex;
    flex-direction: column;
    border: 1px solid fade-out($black, 0.8);
    box-sizing: border-box;
    padding:  15px;
    border-radius: 10px;
    margin-bottom: 45px;

    .row{
        display: flex;
        width: 100%;

        &:nth-child(even){
            background-color: rgba(10,10,50,0.08);
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            line-height: 13px;
            color: $black;
            height: 40px;
            width: 10%;
            flex-grow: 3;
            box-sizing: border-box;
            padding: 0 10px;
            text-align: left;

            &:nth-child(1){
                font-weight: bolder;
            }
        }

        &.header{

            div{
                font-weight: bolder;
            }
        }
    }
} 
