<!-- 
  Main wrapper
  Flex column
-->

<div id="outer" [ngClass]="{ blur: aboutModal }">
  <!-- 
    Page header 
      - Nav, links, branding, etc
  -->
  <header id="main">
    <!-- Branding / Logo -->
    <div id="branding">
      <i
        class="far"
        id="sidebarToggle"
        (click)="expandSidebar = !expandSidebar"
        [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
      ></i>
      <!-- USGS Logo -->
      <a href="https://usgs.gov" alt="USGS Home Page" title="USGS Home Page" target="_blank" id="usgsLogo">
        <img src="https://www.usgs.gov/sites/all/themes/usgs_palladium/logo.png" />
      </a>
      <a href="https://www.dec.ny.gov/" alt="New York State Department of Environmental Conservation Home Page" title="NY DEC Home Page" target="_blank" id="nydecLogo">
        <img src="./assets/nydec.png" />
      </a>
      <!-- Title -->
      <div id="title">
        <span class="abbr">L</span>
        <span class="expanded">ong</span>
        <span class="abbr">I</span>
        <span class="expanded">sland</span>
        <span class="abbr">Q</span>
        <span class="expanded">uality of</span>
        <span class="abbr">W</span>
        <span class="expanded">ater</span>
        <span class="abbr">I</span>
        <span class="expanded">ntegrated</span>
        <span class="abbr">D</span>
        <span class="expanded">ata</span>
        <span class="abbr">S</span>
        <span class="expanded">ystem</span>
      </div>
    </div>

    <!-- Links on right -->
    <nav id="headerLinks">
      <a (click)="aboutModal = true">About</a>
    </nav>
  </header>

  <!-- 
    Main body wrapper 
    Main body wrapper 
    Main body wrapper 
  -->
  <div id="body">
    <loading-screen></loading-screen>
    <!-- 
      Sidebar
      Sidebar
     -->
     <app-sidebar></app-sidebar>
    
    
    

    <!-- 
      Content 
      Content 
      Content 
    -->
    <main>
      <!-- Map -->
        <!-- <div id="map"></div> -->
        <app-map></app-map>
        
        <app-dataview></app-dataview>
        

    </main>
    <!-- End Main Content -->
  </div>
  <!-- End Main Body Wrapper-->
</div>


<!-- 
  ================================================================
  Toast
  Toast
  Toast - 1,001 z-index base
  ================================================================
 -->
<div id="toast" class="blue" [ngClass]="{ visible: showToast }">
  <i class="far fa-surprise" id="toastIcon"></i>
  <div id="toastText">
    <div id="toastTitle">Oops!</div>
    <div id="toastBody"> Something went wrong - try again later.</div>
  </div>
</div>

<!-- $scope.showToast = false;

$scope.toast = function(class, icon, title, body){
  $scope.toastClass = class;
  $scope.toastIcon = icon;
  $scope.toastTitle = title;
  $scope.toastBody = body;
  $scope.showToast = true;

  $timeout( function(){
    $scope.showToast = false;
  }, 3500 );

}


$scope.toast("red", "fa-exclamation", "Toast Title", "Toast Body"); -->


<!-- <div id="toast" class="{{toastClass}}" [ngClass]="{ visible: showToast }">
  <i class="far {{toastIcon}}" id="toastIcon"></i>
  <div id="toastText">
    <div id="toastTitle">{{toastTitle}}!</div>
    <div id="toastBody"> {{toastBody}}.</div>
  </div>
</div> -->

<!-- 
  ================================================================
  Modals
  Modals
  Modals - 1,0000 z-index base
  ================================================================
 -->
<!-- About Modal -->
<div class="modal-wrapper" *ngIf="aboutModal" (click)="aboutModal = false">
  <div class="modal" id="aboutModal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="title">About</div>
      <div class="modal-close" (click)="aboutModal = false">&times;</div>
    </div>

    <div class="modal-content">
      

      <tabs>
        <tab [tabTitle]="'About LIQWIDS'">
            <br/>
            <h6>What is LIQWIDS?</h6>

            <p>
                There are more than 60 organizations and agencies collecting water-quality data on Long Island. As a result, those interested 
                in analyzing data may be unaware of what data exist and how those data can be obtained without a Freedom of 
                Information Law request. This web tool is intended to provide a unified view of the water-quality data available, in support of 
                ongoing efforts such as LINAP, LICAP, and other State and local environmental and human health initiatives. This product was developed by USGS 
                in partnership with New York State Department of Environmental Conservation
              </p>
        </tab>
        <tab [tabTitle]="'Dashboard'">
            <br/>
            <h6>Summary of Data Submission</h6>
            <app-summary></app-summary>
            <!-- <div id="dashboardTable">
                <div class="row header">
                    <div>Date</div>
                    <div>Site</div>
                    <div>State</div>
                    <div>Color</div>
                    <div>Distance</div>
                    <div>Size</div>
                    <div>Status</div>
                    <div>Amount</div>
                    <div>Notes</div>
                </div>
            
                <div class="row">
                    <div>10/11/18</div>
                    <div>12512</div>
                    <div>NY</div>
                    <div>Red</div>
                    <div>10mi</div>
                    <div>8</div>
                    <div>Off</div>
                    <div>9</div>
                    <div></div>
                </div>
            </div> -->
        </tab>
        <tab [tabTitle]="'Disclaimers'">
                <br/>
                <h6>USGS Data Disclaimer:</h6>
    
                <p>
                    Unless otherwise stated, all data, metadata and related materials are considered to satisfy the quality standards relative 
                    to the purpose for which the data were collected. Although these data and associated metadata have been reviewed for accuracy 
                    and completeness and approved for release by the U.S. Geological Survey (USGS), no warranty expressed or implied is made 
                    regarding the display or utility of the data for other purposes, nor on all computer systems, nor shall the act of distribution 
                    constitute any such warranty.
                </p>
                <h6>USGS Software Disclaimer:</h6>
                <p>
                    This software has been approved for release by the U.S. Geological Survey (USGS). Although the software has been subjected to 
                    rigorous review, the USGS reserves the right to update the software as needed pursuant to further analysis and review. 
                    No warranty, expressed or implied, is made by the USGS or the U.S. Government as to the functionality of the software and 
                    related material nor shall the fact of release constitute any such warranty. Furthermore, the software is released on condition 
                    that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its authorized or unauthorized use.
                </p>
                <h6>USGS Product Names Disclaimer:</h6>
                <p>
                    Any use of trade, firm, or product names is for descriptive purposes only and does not imply endorsement by the U.S. Government.
                </p>
            </tab>
    </tabs>
      
      
    </div>

    <div class="modal-actions right">
      <button (click)="aboutModal = false">Close</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
