// Main SCSS file.
// Do not add anything directly to this file.
// Find the appropriate file within the /styles folder

@import 'variables.scss';

// SASS helpers/mixins
@import '/styles/helpers.scss';

// Universal Imports
@import '/styles/structure.scss';
@import '/styles/text.scss';
@import '/styles/modals.scss';
@import '/styles/inputs.scss';

@import '/styles/header.scss';

@import '/styles/custom/general.scss';
@import '/styles/custom/map.scss';


// Specific imports


/*TEMPORARY STYLING UNTIL WE GET THE LIQWIDS DASHBOARD INSERTED HERE*/
#dashboardTable{
    display: flex;
    flex-direction: column;
    border: 1px solid fade-out($black, 0.8);
    box-sizing: border-box;
    padding:  15px;
    border-radius: 10px;
    margin-bottom: 45px;

    .row{
        display: flex;
        width: 100%;

        &:nth-child(even){
            background-color: rgba(10,10,50,0.08);
        }

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            line-height: 13px;
            color: $black;
            height: 40px;
            width: 10%;
            flex-grow: 3;
            box-sizing: border-box;
            padding: 0 10px;
            text-align: left;

            &:nth-child(1){
                font-weight: bolder;
            }
        }

        &.header{

            div{
                font-weight: bolder;
            }
        }
    }
} 
