<!-- 
  Main wrapper
  Flex column
-->

<div id="outer">
  

  <!-- 
    Page header 
      - Nav, links, branding, etc
  -->
  <header id="main">

  </header>


  <!-- 
    Main body wrapper 
    Main body wrapper 
    Main body wrapper 
  -->
  <div id="body">

    <!-- 
      Sidebar
      Sidebar
     -->
    <div id="sidebar">

      <b>Sidebar</b>

    </div> <!-- End Sidebar -->


    <!-- 
      Content 
      Content 
      Content 
    -->
    <main>

      <!-- Map -->
      <div id="map"></div>



      <div class="block">
        Main content
      </div>


    </main> <!-- End Main Content -->

    
  </div><!-- End Main Body Wrapper-->



</div>


<router-outlet></router-outlet>
