<i
  class="far"
  id="sidebarToggle"
  (click)="expandSidebar = !expandSidebar"
  [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
  ></i>

<div id="sidebar" [ngClass]="{ 'expanded': expandSidebar }">


  <!--  Sidebar Parameter Filters  -->
  <div id="siteCount"><b>{{geoJSONsiteCount}}</b> sites showing</div>


  <!-- Scrolling sidebar content -->
  <div class="sidebar-scroll">


    <!--  Sidebar Basemaps  -->
    <div class="sidebar-header" (click)="showBasemaps = !showBasemaps" [ngClass]="{ expanded: showBasemaps }">
      <i class="fal fa-map"></i>
      <b><span>Basemaps</span></b>
    </div>

    <!-- Basemaps content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showBasemaps }">
      <div id="sidebarBasemaps">
        <div class="basemap" id="basemap1" (click)="toggleLayer('OpenStreetMap')" [ngClass]="{ active: chosenBaseLayer == 'OpenStreetMap' }">Streets</div>
        <div class="basemap" id="basemap2" (click)="toggleLayer('Topo')" [ngClass]="{ active: chosenBaseLayer == 'Topo' }">Topographic</div>
        <div class="basemap" id="basemap3" (click)="toggleLayer('CartoDB')" [ngClass]="{ active: chosenBaseLayer == 'CartoDB' }">CartoDB</div>
        <div class="basemap" id="basemap4" (click)="toggleLayer('Terrain')" [ngClass]="{ active: chosenBaseLayer == 'Terrain' }">Terrain</div>
        <div class="basemap" id="basemap5" (click)="toggleLayer('Satellite')" [ngClass]="{ active: chosenBaseLayer == 'Satellite' }">Satellite</div>
        <div class="basemap" id="basemap5" (click)="toggleLayer('Gray')" [ngClass]="{ active: chosenBaseLayer == 'Gray' }">Gray</div>
        <div class="basemap" id="basemap6" (click)="toggleLayer('Nautical')" [ngClass]="{ active: chosenBaseLayer == 'Nautical' }">Nautical</div>
      </div>
    </div>


    <div class="sidebar-header" (click)="showParameterFilters = !showParameterFilters" [ngClass]="{ expanded: showParameterFilters }">
      <i class="fal fa-filter"></i>
      <b><span>Parameter Filters</span></b>
    </div>

    <!-- Filters Parameter Content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showParameterFilters }">

      <form *ngIf="parameterFilterData" [formGroup]="parameterDropDownGroup" id="sidebarParameterFilters">

        <!-- characteristic -->
        <label for="characteristic" class="multiselect-label">Characteristic</label>
        <ng-select 
          formControlName="characteristic"
          [items]="parameterFilterData.characteristics"
          [multiple]="true"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

        <!-- event year -->
        <label for="eventYear" class="multiselect-label">Event Year</label>
        <ng-select 
          class="single-select"
          formControlName="eventYear"
          [items]="parameterFilterData.eventYears"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

        <!-- minimum results -->
        <label for="minResults" class="multiselect-label">Minimum Result Count</label>
        <div class="minResults">
            <input type="number" formControlName="minResults">
        </div>

        <button (click)="reQuery()" [disabled]="parameterDropDownGroup.get('characteristic').value.length === 0">Apply Changes</button>

      </form>

    </div>

    <!--  Sidebar Site Filters  -->

    <div class="sidebar-header" (click)="showSiteFilters = !showSiteFilters" [ngClass]="{ expanded: showSiteFilters }">
      <i class="fal fa-sliders-v"></i>
      <b><span>Site Filters</span></b>
    </div>
    <!-- Filters Site Content -->
      
    <div class="sidebar-content" [ngClass]="{ expanded: showSiteFilters }">
      <form *ngIf="siteFilterData" [formGroup]="siteDropDownGroup" id="sidebarSiteFilters">

        <!-- Huc8 -->
        <label for="huc8" class="multiselect-label">Huc8</label>
        <ng-select 
        formControlName="huc8"
          [items]="siteFilterData.huc8"
          [multiple]="true"
          bindLabel="lab"
          bindValue="val"
          placeholder="Select">
        </ng-select>

        <!-- Org Name -->
        <label for="orgName" class="multiselect-label">Organization Name</label>

        <ng-select 
          formControlName="orgName"
          [items]="siteFilterData.orgName"
          [multiple]="true"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

        <!-- Data Provider -->
        <label for="provider" class="multiselect-label">Data Provider</label>
        <ng-select 
          formControlName="provider"
          [items]="siteFilterData.provider"
          [multiple]="true"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

        <!-- Data Provider -->
        <label for="searchType" class="multiselect-label">Keyword</label>
        <ng-select 
        formControlName="searchType"
          [items]="siteFilterData.searchType"
          [multiple]="true"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

        <label for="type" class="multiselect-label">Site Type</label>
        <ng-select 
          formControlName="type"
          [items]="siteFilterData.type"
          [multiple]="true"
          bindLabel="name"
          placeholder="Select">
        </ng-select>

      </form>

      <button class="clearForm" title="Clear All Selections" (click)="clearForm()">Clear Selections</button>

    </div> <!-- End Sidebar Scroll -->
  </div>


</div>
<!-- End Sidebar -->

<!-- Sidebar lightbox for mobile -->
<div id="sidebarLightbox" [ngClass]="{ visible: expandSidebar }" (click)="expandSidebar = false"></div>